@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700;800;900&family=Oswald:wght@200;300;400;500;600;700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
/*
   font-family: 'Encode Sans', sans-serif;
   font-family: 'Oswald', sans-serif;
   font-family: 'Space Grotesk', sans-serif;
*/
:root{
   --main-color: #7bdcb5;
   --secondary-color: #5ba199;
   --navbar-background: #2b2b2b;
   --big-font: 4.3rem;
   --h2-font: 2.3rem;
   --p-font: 1rem;
}
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
   list-style: none;
   font-family: 'Encode Sans', sans-serif;
}

/* HEADER */
header{
   top: 0;
   left: 0;
   width: 100%;
   height: 100px;
   background-color: var(--main-color);
   display: flex;
   justify-content: space-between;
   padding: 0 8%;
}
header .logo{
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 45px;
   font-weight: 600;
   color: #000;
}

/* SEARCH BAR HEADER */
.search-form{
   display: flex;
   align-items: center;
   justify-content: center;
}
.main-form{
   display: flex;
   align-items: center;
   width: 100%;
   border-radius: 10px;
}
.main-form input{
   width: 300px;
   height: 45px;
   border-radius: 10px 0 0 10px;
   padding-left: 10px;
   font-size: 18px;
   outline: none;
   border: none;
}
.main-form button {
   width: 25px;
   height: 45px;
   border-radius: 0 10px 10px 0;
   border: none;
   cursor: pointer;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #fff;
   font-size: 20px;
   font-weight: 500;
}

/* NAVBAR */
.navbar{
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 50px;
   width: 100%;
   background-color: var(--navbar-background);
   padding: 0 8%;
}
.navbar .navbar-left ul li{
   display: inline-block;
}
.navbar .navbar-left ul li a{
   color: #fff;
   padding: 0 12px;
   text-transform: uppercase;
   font-size: 14px;
   font-weight: 400;
   transition: all .38s ease;
}
.navbar .navbar-left ul li a:hover{
   color: #999;
}
.navbar .navbar-right{
   display: flex;
   align-items: center;
}
.navbar .navbar-right ul{
   display: flex;
   flex-direction: row;
}
.navbar .navbar-right ul li{
   display: flex;
   padding: 0 5px;
}
.navbar .navbar-right .circle-icon{
   display: table;
   height: 32px;
   width: 32px;
   border-radius: 50%;
   font-size: 20px;
   color: #2b2b2b;
   background-color: #fff;
   cursor: pointer;
   transition: all .38s ease;
}
.circle-icon:hover{
   transform: scale(1.2);
}
.navbar .navbar-right .circle-icon span{
   display: table-cell;
   vertical-align: middle;
   height: 32px;
   width: 32px;
   text-align: center;
}

/* CARROUSEL */
.carrousel{
   width: 100%;
   height: 400px;
}
.slider{
   display: flex;
   width: 300%;
   height: 400px;
   margin-left: -100%;
}
.carrousel-content{
   display: flex;
}
.carrousel-text{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   padding-left: 8%;
   width: 100%;
}
.slider-btn{
   position: absolute;
   width: 40px;
   height: 40px;
   border-radius: 50%;
   top: 50%;
   font-size: 30px;
   text-align: center;
   font-weight: bold;
   cursor: pointer;
   transition: all .38s ease;
}
.slider-btn:hover{
   background: rgba(0, 0, 0, .3);
}
.slider-btn-left{
   left: 10px;
}
.slider-btn-right{
   right: 10px;
}

/* QUIENES SOMOS */
.quienes-somos{
   width: 100%;
   height: auto;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: var(--secondary-color);
   overflow: hidden;
   padding: 0 8%;
}
.quienes-somos-text{
   display: flex;
   flex-direction: column;
   align-items: center;
}
.quienes-somos-text h2{
   font-size: 2rem;
}
.quienes-somos-text p{
   font-size: 1.2rem;
   text-align: center;
   width: 85%;
   margin: 20px 0;
}
.quienes-somos-text .btn{
   height: 100%;
   width: 130px;
   text-align: center;
   background-color: var(--navbar-background);
   border-radius: 10px;
   font-size: 1.1rem;
   padding: 5px;
   color: #fff;
   transition: all .38s ease;
}
.btn:hover{
   color: #999;
   transform: scale(1.1);
}
.quienes-somos-img img{
   height: 100%;
   max-height: 600px;
   width: auto;
}

/* SERVICIOS */
.servicios{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(300px, auto));
   gap: 1.5rem;
   align-items: flex-start;
   justify-content: center;
   text-align: center;
   background-color: var(--navbar-background);
   padding: 2% 8%;
   overflow: hidden;
   color: #fff;
}
.row{
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   width: 100%;
   height: 100%;
}
.img-container{
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: var(--main-color);
   height: 110px;
   width: 110px;
   border-radius: 50%;
}
.img-container img{
   height: 70px;
   width: auto;
}
.servicios-text{
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   width: 270px;
}
.servicios-text h2{
   font-size: 1.5rem;
   padding: 5px 0;
}
.servicios-text p{
   font-size: .9rem;
}

/* PROFESIONALES SECTION */
.profesionales{
   background-image: url(/media/profesionales-bg.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: right;
   height: 500px;
   width: 100%;
   display: flex;
   justify-content: right;
   align-items: center;
   padding: 0 8%;
}
.profesionales-text{
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   text-align: right;
   width: 40%;
}
.profesionales-text h2{
   font-size: 1.8rem;
}
.profesionales-text p{
   font-size: 1.1rem;
   margin: 20px 0;
}
.profesionales-text .btn{
   height: 100%;
   width: 130px;
   text-align: center;
   background-color: #778bfc;
   border-radius: 10px;
   font-size: 1rem;
   padding: 5px;
   color: #000;
   transition: all .38s;
}
.profesionales-text .btn:hover{
   letter-spacing: 2px;
   transform: scale(1);
}

/* FOOTER */
footer{
   background-color: var(--navbar-background);
   width: 100%;
   padding: 2% 8%;
   color: #fff;
   font-size: 1rem;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(250px, auto));
}
.footer-content h3{
   font-size: 1.4rem;
   padding-bottom: 1.5rem;
}
.footer-content li{
   padding: 5px 0;
   transition: all .38s ease;
}
.footer-content li a{
   color: #fff;
   transition: all .38s ease;
}
.footer-content li:hover, .footer-content li a:hover{
   color: #999;
}


/* MEDIA QUERIES */
.checkbtn{
   font-size: 30px;
   color: #fff;
   cursor: pointer;
   display: none;
}
@media (max-width: 1190px) {
   footer{
      font-size: 1rem;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, auto));
   }
}
@media (max-width: 1130px){
   header, .navbar, .quienes-somos{
      padding: 0 6%;
      transition: .2s;
   }
   .servicios{
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, auto));
      gap: 1rem;
      padding: 2% 6%;
      transition: .2s;
   }
   .quienes-somos-text h2{
      font-size: 1.6rem;
   }
   .quienes-somos-text p{
      font-size: 1.1rem;
      width: 85%;
      margin: 20px 0;
   }
   .quienes-somos-text .btn{
      width: 100px;
      font-size: 1rem;
   }
   .quienes-somos-img img{
      height: 100%;
      max-height: 500px;
      width: auto;
   }
   footer{
      padding: 2% 6%;
   }
}
@media (max-width: 1024px){
   .carrousel-text{
      font-size: .9rem;
      padding-left: 6%;
   }
}
@media (max-width: 910px){
   header .logo{
      font-size: 40px;
      transition: .2s;
   }
   .main-form input{
      width: 250px;
      font-size: 16px;
      transition: .2s;
   }
   .main-form button {
      font-size: 18px;
      transition: .2s;
   }
   .checkbtn{
      display: block;
      z-index: 2;
      transition: .2s;
   }
   .navbar .navbar-left ul{
      position: absolute;
      width: 100%;
      top: 100px;
      background-color: var(--navbar-background);
      text-align: center;
      transition: .3s;
      left: -100%;
   }
   .navbar .navbar-left.active ul{
      left: 0;
      transition: .3s;
    }
   .navbar .navbar-left ul li{
      display: block;
      margin: 50px 0;
      font-size: 18px;
   }
   .quienes-somos-text h2{
      font-size: 1.5rem;
      transition: .2s;
   }
   .quienes-somos-text p{
      font-size: 1rem;
      width: 90%;
      margin: 20px 0;
      transition: .2s;
   }
   .quienes-somos-text .btn{
      width: 100px;
      font-size: 1rem;
      transition: .2s;
   }
   .quienes-somos-img img{
      height: 100%;
      max-height: 450px;
      width: auto;
      transition: .2s;
   }
   .servicios{
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, auto));
      gap: .9rem;
      transition: .2s;
   }
   .servicios-text{
      width: 200px;
      transition: .2s;
   }
   footer{
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(150px, auto));
      overflow: hidden;
   }
   .footer-content h3{
      font-size: 1.3rem;
      padding-bottom: .8rem;
      transition: .2s;
   }
}
@media (max-width: 767px) { 
   .quienes-somos-text h2{
      font-size: 1.4rem;
      transition: .2s;
   }
   .quienes-somos-text p{
      font-size: .95rem;
      width: 100%;
      margin: 20px 0;
      transition: .2s;
   }
   .quienes-somos-text .btn{
      width: 90px;
      font-size: .9rem;
      transition: .2s;
   }
   .quienes-somos-img img{
      max-height: 380px;
      transition: .2s;
   }
   .servicios{
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(150px, auto));
      gap: .9rem;
   }
   .img-container{
      height: 90px;
      width: 90px;
   }
   .img-container img{
      height: 60px;
   }
   .servicios-text{
      width: 200px;
      transition: .2s;
   }
   .servicios-text h2{
      font-size: 1.3rem;
   }
   .servicios-text p{
      font-size: .85rem;
      font-weight: 500;
   }
}
@media (max-width: 630px) {
   header{
      height: 80px;
   }
   header .logo{
      font-size: 35px;
   }
   .main-form input{
      width: 150px;
      height: 40px;
      font-size: 14px;
      transition: .2s;
   }
   .main-form button {
      height: 40px;
      font-size: 16px;
      transition: .2s;
   }
   .navbar .navbar-left ul{
      top: 80px;
      transition: .2s;
   }
   .quienes-somos{
      display: flex;
      flex-direction: column;
      transition: .2s;
   }
   .quienes-somos-text h2{
      padding-top: 10px;
      font-size: 1.3rem;
      transition: .2s;
   }
   .quienes-somos-text p{
      font-size: 1rem;
      transition: .2s;
   }
   .quienes-somos-text .btn{
      width: 90px;
      font-size: .9rem;
      transition: .2s;
   }
   .quienes-somos-img img{
      max-height: 400px;
      transition: .2s;
   }
   .servicios{
      display: flex;
      flex-direction: column;
      padding: 4% 0;
   }
   .img-container{
      height: 110px;
      width: 110px;
   }
   .img-container img{
      height: 70px;
   }
   .servicios-text{
      width: 300px;
      transition: .2s;
   }
   .servicios-text h2{
      font-size: 1.4rem;
   }
   .servicios-text p{
      font-size: 1rem;
      font-weight: 400;
   }
   footer{
      padding: 2% 6%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
   }
   .footer-content h3{
      font-size: 1.2rem;
      padding: .7rem 0;
   }
}